.topbar-container {
    @extend %container;
    @include font(300, .96rem);
    background: $blue-dark;
    display: flex;
    align-items: center;
    height: 2.5rem;
    color: rgba($white, .8);
    box-shadow: rgba($cyan, .9) 0 2px 30px -5px;
    z-index: 1;
    position: relative;

    .div-logo {
        margin-right: 1.5rem;

        img {
            width: 5rem;
        }
    }
}