$openSans: 'Open Sans', sans-serif;


%container {
    padding: 0 4rem;
}

@mixin  font($weight, $size: 1rem, $family: $openSans) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}