@import "../Components/TopBar/styles.scss";
@import "../Components/Header/styles.scss";
@import "../Components/Levels/styles.scss";
@import "../Components/Lessons/styles.scss";
@import '../Components/Subjects/styles.scss';

body {
  font-family: $openSans;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

.content {
  display: flex;
  

  .col-left {
	width: 18rem;
    background-color: $cyan;
	position: fixed;
	z-index: 0;
	bottom: 0;
	overflow-y: auto;
	height: calc(100vh - 185px);
	display: flex;
	justify-content: center;
  }

  .col-right {
    background-color: $gray;
	width: calc(100vw - 18rem);
	right: 0;
	position: absolute;
  }
}
