@import "../Components/TopBar/styles.scss";
@import "../Components/Header/styles.scss";
@import "../Components/Levels/styles.scss";
@import "../Components/Lessons/styles.scss";
@import "../Components/Subjects/styles.scss";

body {
  font-family: $openSans;
}

// #root {
//   height: 100%;
// }

.container {
  // height: 100%;
  margin-bottom: 10rem;
}

.content {
  @extend %container;
  display: flex;
  margin-top: 5rem;

  .col-left {
    border: solid 1px $gray;
    @include radius();
    width: 30%;
    flex: 0 0 auto;
  }

  .col-right {
    background-color: lighten($gray, 15%);
    flex: 1 0 auto;
    @include radius();
    margin-left: 2rem;
    padding: 2rem;
  }
}
