@import "../Components/TopBar/styles.scss";
@import "../Components/Header/styles.scss";
@import "../Components/Levels/styles.scss";
@import "../Components/Lessons/styles.scss";
@import "../Components/Subjects/styles.scss";

body {
  font-family: $openSans;
}

.container {
  margin-bottom: 10rem;
}

.content {
  @extend %container;
  display: flex;
  position: relative;
  z-index: 1;

  .col-left {
    border: solid 1px $gray;
    @include radius(.3rem);
    width: 30%;
    flex: 0 0 auto;
    box-shadow: rgba($black, .1) 0 -10px 20px -4px;
  }

  .col-right {
    background-color: lighten($gray, 15%);
    flex: 1 0 auto;
    @include radius(.3rem);
    margin-left: 2rem;
    padding: 2rem;
    box-shadow: rgba($black, .1) 0 -10px 20px -4px;
  }
}
