@import "./media-query";
@import "./colors";
@import "./utils";
@import "./app.scss";


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.2;
    outline: none;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
}

a, button {
    cursor: pointer;
}