.container-subjects {
  display: flex;
  justify-content: space-around;
  background-color: lighten($gray, 10%);
  border-radius: .3rem .3rem 0 0;
  padding: 1rem;

  .subjects {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: rgba($white, 0.8);
    border-bottom: solid 1px rgba($white, 0.3);
    @include font(400, 0.9rem);
  }

  .flag {
    $size: 1.8rem;

    position: relative;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;

    .flag-input {
      position: absolute;
      z-index: 66;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .flag-name {
      transition: $transition;
      height: 3rem;
      display: inline-flex;
      align-items: center;
      border: solid 1px lighten($cyan, 15%);
      @include radius(.3rem);

      padding: 0.5rem {
        right: 1.5rem;
      }

      .flag-name_img {
        line-height: 0;
        width: $size;
      }

      .flag-name_title {
        @include font(400, 0.9rem);
        color: rgba($black, .7);
        margin-left: 0.7rem;
      }
    }

    &:hover {
      input ~ .flag-name {
        background-color: rgba($blue, 0.7);

        .flag-name_title  {
          color: $white;
        }
      }
    }

    input:checked ~ .flag-name {
      background: rgba(#3165cf, 0.9);
      
      box-shadow: rgba($black, 0.5) 5px 5px 30px -10px;
      
      .flag-name_title  {
        color: $white;
      }
    }
  }
}
