.header-container {

  @extend %container;
  $size: 7rem;

  height: 13rem;
  display: flex;
  // flex-direction: column;
  align-items: center;
  z-index: 0;
  position: relative;
  justify-content: space-between;

  @include media(tab-port) {
    height: 12rem;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 20rem;
    background-image: linear-gradient(120deg, #4481eb 0%, #04befe 100%);   
    z-index: -10;
  }


  .area-profile {
    flex: 0 1 auto;
    display: flex;
    align-items: center;

    @include media(tab-port) {
      flex-direction: row-reverse;
    }

    .profile {
      width: $size;
      height: $size;
      background-color: rgba($white, .05);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $size / 2;
      border: solid 1px rgba($white, .6);
      color: rgba($white, .35);

      @include radius(60rem);

      @include media(tab-port) {
        width: $size - 1.5rem;
        height: $size - 1.5rem;
      }

  
    }

    .username {
      height: $size;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      margin-left: 2rem;

      @include media(tab-port) {
        height: $size - 1rem;
        margin: 0 2rem 0 0;
        align-items: flex-end;
      }

      

      h1 {
        color: $white;
        display: inline-block;
        @include font(400, 1.7rem);
        margin-bottom: .4rem;

        @include media(tab-port) {
          @include font(400, 1.3rem);
        }
      }

      p {
        @include font(300, .85rem);
        color: rgba($white, .9);
      }

      button {
        margin-top: 1rem;
        border-radius: 10rem;
        border: solid 1px rgba($white, .02);
        background: rgba($white, .05);
        color: rgba($white, .75);
        font-size: .78rem;
        padding: .4rem .8rem;
        box-sizing: content-box;

        &:hover {
          border: solid 1px rgba($white, .2)
        }

        span {
          margin-left: .4rem;
        }
      }
    }
  }

  .btnMobile {
    border: none;
    background: transparent;
    padding: .6rem .9rem;
    color: rgba($white, .4);
    display: none;
    font-size: 2.5rem;
    line-height: 0;

    &:active {
      background-color: rgba($white, .15);
      @include radius();
    }


    @include media(tab-port) {
      display: block;
    }
  }
  
  
}

