.header-container {
  @extend %container;
  $size: 6rem;

  //background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  // background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  //background-color: $cyan;
  background-image: linear-gradient(120deg, #4481eb 0%, #04befe 100%);
  height: 8rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  z-index: 1;
  position: relative;

  .area-profile {
    // width: 50%;
    flex: 1 0 auto;
    position: relative;
    display: flex;
    align-items: center;

    .profile {
      width: $size;
      height: $size;
      background: $gray;
      position: absolute;
      top: 100%;
      transform: translateY(-70%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $size / 2;
      //border: solid 1px $white;
      box-shadow: rgba($black, 0.6) 5px -2px 30px -12px;
      color: darken($gray, 10%);

      @include radius();

      // @include media(phone) {
      //     $size: 2rem;
      //     width: $size;
      //     height: $size;
      //     background: red;
      // }
    }

    .username {
      height: 4.5rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      margin: {
        left: $size + 2rem;
        right: 1rem;
      }

      h1 {
        color: $white;
        display: inline-block;
        @include font(400, 1.6rem);
        margin-bottom: .4rem
      }

      p {
        @include font(300, .85rem);
        color: rgba($white, .9);
      }
    }
  }

  
}

